.header {
  color: var(--color);
  background-color: var(--background-color);
  font-size: 24px;
  padding: 15px;
}

.main {
  font-size: 24px;
  padding: 15px;
}

.main__title {
  color: var(--color-main);
}

ul li {
  list-style: none;
  font-size: 18px;
}

.header h1,
footer h2,
main h3 {
  text-align: center;
}

.section__task-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px auto 5px auto;
}

.btn {
  color: var(--color-main);
  font-size: 14px;
  border: 1px solid var(--color-main);
  border-radius: 10px;
  padding: 10px;
  margin: 8px 20px 8px 0px;
}

.btn:hover {
  color: var(--color);
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

a.btn {
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--color);
}

.footer {
  color: var(--color-footer);
  background-color: var(--background-color);
  padding: 20px;
}

.footer h2 {
  font-size: 18px;
}

/** Task4 **/
.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Arial, sans-serif;
}

